/* Copyright 2011-2014 MarkLogic Corporation. All Rights Reserved. */
/* TEMPLATE: 1x1-TOP-RES */

body{ font-size: 16px; line-height: 18px; color:#434343; }
    
body p {
    text-align:left;
    font-size: 14px; line-height: 16px; 
}

h1 {
    color:#000;
    line-height:30px;
    font-size:26px;
    text-align:left;
}
h2 {
    color:#000;
    font-size:18px;
    text-align:left;
}

a {
    color:#262626;
}

a:hover {
    text-decoration:none;
}

p {
	padding:6px 0;	
}

img {
    border:0px;
    margin:0px;
    padding:0px;    
}

.button {
    margin: 0px;
    border: 1px solid #B2B2B2;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding: 4px 10px 4px 10px;        
    background: url("../images/bg-bar-light.png") repeat-x;
    line-height: 14px;
    color:#444;
    font-size: 11px;
    font-weight: bold;           
    text-align: center;
    text-decoration:none; 
    cursor:pointer;   
    -user-select: none;
	-moz-user-select: none;
	-webkit-user-select: non
}

.button:hover {
    text-decoration:none;
}

.button.disabled {
    cursor:auto;
    color:#888;    
}

#container { 
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 1000px;
}

#header {
	padding:15px 0px;
	height:60px;
}
#logo { vertical-align:bottom; }

#search { 
	float:right;
	margin:0 0 11px 0;
	height:30px; 
    color:#fff;    
    text-align:left;
    width:984px;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: none repeat scroll 0 0 #DCDCDC;
    padding: 8px;    
}

#search input#query-text {
    color: #6F6F6F;
    font-size: 14px;
    margin: 6px 10px 0 4px;
    padding: 5px 30px 5px 10px;
    width: 854px;	
    border:1px solid #969696;
}

#search h2 { 
    display:inline-block;
    vertical-align: bottom;
    margin:13px 15px 4px 5px;
}

#content { 
  width:100%;
  margin-bottom: 10px;
  overflow:auto;
}

#content-area-container {
	float:left;
	width:984px;
	height:100%;
	min-height:526px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: none repeat scroll 0 0 #DCDCDC;
	padding: 8px;
}

#content-area {
	background: none repeat scroll 0 0 white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #C8C8C8;
	padding:8px;	
	min-height:526px;
}

.widget-title {
	color: #3E576F;
	line-height: 18px;
	font-size: 16px;
	font-weight: normal;
	text-align:center;
	margin:0 0 8px;
}

/* Topbar widget styles */
#topbar, #topbar-two-pane {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: none repeat scroll 0 0 #DCDCDC;
    margin-bottom: 10px;
    padding: 8px;
    overflow:auto;
}

.fullwidth {
	width:100%;
}
.halfwidth {
	width:48.5%;
}
.thirdwidth {
	width:32.25%;
}
.twothirdwidth {
	width:64.5%;
}

.widget-slot {
	text-align:center;	
    position:relative;
}

#topbar .widget-slot  {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: none repeat scroll 0 0 white;
    border: 1px solid #C8C8C8;
	height:300px;
}

#footer {
	clear:both;
	margin:0 0 11px 0;
	color: #969696;
    text-align:left;
    width:984px;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: none repeat scroll 0 0 #DCDCDC;
    padding: 8px;   
}

#footer p {
  padding: 14px;
}